<!-- Footer-->
<footer class="footer bg-dark py-4">
    <div class="container">
        <div class="row align-items-center">
            <!-- Footer Location-->
            <div class="col-lg-4 mb-5 mb-lg-0 text-light">
                <h4 class="text-uppercase mb-4">Location</h4>
                <p class="lead mb-0">
                    Rotušės 5
                    <br />
                    Kaunas, Lithuania
                </p>
            </div>
            <div class="col-lg-4 my-3 my-lg-0">
                <a class="btn btn-dark btn-social mx-2" href="https://twitter.com/lostinrave"><i class="fab fa-twitter"></i></a>
                <a class="btn btn-dark btn-social mx-2" href="https://www.facebook.com/benas.kalvinas/"><i class="fab fa-facebook-f"></i></a>
                <a class="btn btn-dark btn-social mx-2" href="https://www.linkedin.com/in/benas-kalvinas-a1a340220/"><i class="fab fa-linkedin-in"></i></a>
            </div>
            <div class="col-lg-4 text-lg-end">
                <a class="link-dark text-decoration-none me-3 text-light" href="#!">Privacy Policy</a>
                <a class="link-dark text-decoration-none text-light" href="#!">Terms of Use</a>
            </div>
        </div>
    </div>
</footer>